2.1. Khởi tạo dataframe

2.1.1. Khởi tạo thông qua dictionary

In [5]:
import pandas as pd #thư viện chứa nhiều module
from IPython.display import display # trong module chứa các hàm -> ở đây là display
pd.set_option('display.max_colwidth', 40)
pd.set_option('display.precision', 5)  
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 30)


dict_columns = {
    'contents':['Author', 'Book', 'Target', 'No_Donation'],
    'infos':['Pham Dinh Khanh', 'ML algorithms to Practice', 'Vi mot cong dong AI vung manh hon', 'Community'],
    'numbers':[1993, 2021, 1, 2]
}
#Đây là hàm tạo DataFrame của thư viện Pandas.
#DataFrame là một cấu trúc dữ liệu 2 chiều (giống như bảng) với các cột và hàng, được sử dụng để lưu trữ và 
# thao tác dữ liệu dạng bảng (dữ liệu giống như trong bảng tính Excel).
df = pd.DataFrame(dict_columns)
display(df)

    contents      infos  numbers
0     Author  Pham D...     1993
1       Book  ML alg...     2021
2     Target  Vi mot...        1
3  No_Don...  Community        2

2.1.2/ Khởi tạo thông qua list các dòng:
Mỗi dòng dữ liệu sẽ được biểu diễn dưới dạng một danh sách con, và danh sách lớn sẽ chứa các dòng dữ liệu đó.Bạn có thể sử dụng tham số columns để đặt tên cho các cột.

In [6]:
# List các dòng, mỗi dòng là một danh sách con
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

# Khởi tạo DataFrame và đặt tên cho các cột
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

# Hiển thị DataFrame
print(df)

      Name  Age       City
0    Alice   25   New York
1      Bob   30  Los An...
2  Charlie   35    Chicago

to_csv là hàm trong pandas dùng để lưu trữ một dataframe dưới dạng file CSV

In [7]:
df.to_csv("data.csv")

#2.1.3. Đọc dữ liệu từ file
1. sep=","
Ý nghĩa: Tham số này chỉ định dấu phân cách (delimiter) giữa các giá trị trong file CSV. Mặc định, Pandas sử dụng dấu phẩy (,), nhưng bạn có thể thay đổi thành ký tự khác như dấu chấm phẩy (;), tab (\t), hoặc bất kỳ ký tự nào khác.
2. header=0
Ý nghĩa: Tham số này chỉ định hàng nào trong file CSV sẽ được sử dụng làm tiêu đề (header) cho các cột. Giá trị 0 có nghĩa là hàng đầu tiên (hàng 0) sẽ được sử dụng làm tên cột.
3. index_col=None
Ý nghĩa: Tham số này xác định cột nào sẽ được sử dụng làm chỉ số (index) cho DataFrame. Nếu đặt None, Pandas sẽ tự động tạo chỉ số mặc định là các số nguyên bắt đầu từ 0.

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/phamdinhkhanh/datasets/master/BostonHousing.csv", sep=",", header = 0, index_col = None)
df.head(7) #số lượng dòng hiển thị

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

Hàm df.info() sẽ cho ta biết định dạng và số lượng quan sát not-null của mỗi trường trong dataframe.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

Hàm df.dtypes để kiểm tra định dạng dữ liệu các trường của một bảng.

In [11]:
# Check for datatype
df.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
            ...
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
Length: 14, dtype: object

Nếu muốn kiểm tra chi tiết hơn những thống kê mô tả của dataframe như trung bình(Mean), phương sai(Variance), min, max, độ lệch chuẩn (std),Median (50%) Giá trị trung vị - của một trường dữ liệu chúng ta dùng hàm df.describe()

In [12]:
# Thống kê mô tả dữ liệu
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000
mean,3.61352,11.36364,11.13678,0.06917,0.55470,6.28463,68.57490,3.79504,9.54941,408.23715,18.45553,356.67403,12.65306,22.53281
std,8.60155,23.32245,6.86035,0.25399,0.11588,0.70262,28.14886,2.10571,8.70726,168.53712,2.16495,91.29486,7.14106,9.19710
min,0.00632,0.00000,0.46000,0.00000,0.38500,3.56100,2.90000,1.12960,1.00000,187.00000,12.60000,0.32000,1.73000,5.00000
25%,0.08204,0.00000,5.19000,0.00000,0.44900,5.88550,45.02500,2.10018,4.00000,279.00000,17.40000,375.37750,6.95000,17.02500
50%,0.25651,0.00000,9.69000,0.00000,0.53800,6.20850,77.50000,3.20745,5.00000,330.00000,19.05000,391.44000,11.36000,21.20000
75%,3.67708,12.50000,18.10000,0.00000,0.62400,6.62350,94.07500,5.18843,24.00000,666.00000,20.20000,396.22500,16.95500,25.00000
max,88.97620,100.00000,27.74000,1.00000,0.87100,8.78000,100.00000,12.12650,24.00000,711.00000,22.00000,396.90000,37.97000,50.00000

2.1.4. Export to CSV, EXCEL, TXT, JSON
Đây là câu lệnh được sử dụng khá phổ biến để lưu trữ các file dữ liệu từ dataframe sang những định dạng khác nhau. Những định dạng này sẽ cho phép chúng ta load lại dữ liệu bằng các hàm read_csv(), read_xlsx(), read_txt(), read_json() sau đó.

In [13]:
%%script echo skipping # giúp bỏ qua phần câu lệnh phía dưới

# Lưu dữ liệu sang file csv
df.to_csv('BostonHousing.csv', index = False)
# Lưu file excel
df.to_excel('BostonHousing.xls', index = False)
# Lưu dữ file json
df.to_json('BostonHousing.json') #do not include index = False, index only use for table orient

Couldn't find program: 'echo'