2.1. Khởi tạo dataframe

2.1.1. Khởi tạo thông qua dictionary

In [2]:
import pandas as pd #thư viện chứa nhiều module
from IPython.display import display # trong module chứa các hàm -> ở đây là display
pd.set_option('display.max_colwidth', 40)
pd.set_option('display.precision', 5)  
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 30)


dict_columns = {
    'contents':['Author', 'Book', 'Target', 'No_Donation'],
    'infos':['Pham Dinh Khanh', 'ML algorithms to Practice', 'Vi mot cong dong AI vung manh hon', 'Community'],
    'numbers':[1993, 2021, 1, 2]
}
#Đây là hàm tạo DataFrame của thư viện Pandas.
#DataFrame là một cấu trúc dữ liệu 2 chiều (giống như bảng) với các cột và hàng, được sử dụng để lưu trữ và 
# thao tác dữ liệu dạng bảng (dữ liệu giống như trong bảng tính Excel).
df = pd.DataFrame(dict_columns)
display(df)

      contents                              infos  numbers
0       Author                    Pham Dinh Khanh     1993
1         Book          ML algorithms to Practice     2021
2       Target  Vi mot cong dong AI vung manh hon        1
3  No_Donation                          Community        2

2.1.2/ Khởi tạo thông qua list các dòng:
Mỗi dòng dữ liệu sẽ được biểu diễn dưới dạng một danh sách con, và danh sách lớn sẽ chứa các dòng dữ liệu đó.Bạn có thể sử dụng tham số columns để đặt tên cho các cột.

In [3]:
# List các dòng, mỗi dòng là một danh sách con
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

# Khởi tạo DataFrame và đặt tên cho các cột
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

# Hiển thị DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

to_csv là hàm trong pandas dùng để lưu trữ một dataframe dưới dạng file CSV

In [4]:
df.to_csv("data.csv")

#2.1.3. Đọc dữ liệu từ file
1. sep=","
Ý nghĩa: Tham số này chỉ định dấu phân cách (delimiter) giữa các giá trị trong file CSV. Mặc định, Pandas sử dụng dấu phẩy (,), nhưng bạn có thể thay đổi thành ký tự khác như dấu chấm phẩy (;), tab (\t), hoặc bất kỳ ký tự nào khác.
2. header=0
Ý nghĩa: Tham số này chỉ định hàng nào trong file CSV sẽ được sử dụng làm tiêu đề (header) cho các cột. Giá trị 0 có nghĩa là hàng đầu tiên (hàng 0) sẽ được sử dụng làm tên cột.
3. index_col=None
Ý nghĩa: Tham số này xác định cột nào sẽ được sử dụng làm chỉ số (index) cho DataFrame. Nếu đặt None, Pandas sẽ tự động tạo chỉ số mặc định là các số nguyên bắt đầu từ 0.

In [10]:
df = pd.read_csv("https://raw.githubusercontent.com/phamdinhkhanh/datasets/master/BostonHousing.csv", sep=",", header = 0, index_col = None)
df.head(3) #số lượng dòng hiển thị từ trên xuống
df.tail() #5 dòng cuối cùng.Nếu muốn thì thêm thông số vào bên trong
df.sample() # 5 dòng ngẫu nhiên. Nếu muốn thì thêm thông số vào bên trong

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

Hàm df.info() sẽ cho ta biết định dạng và số lượng quan sát not-null của mỗi trường trong dataframe.

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

Hàm df.dtypes để kiểm tra định dạng dữ liệu các trường của một bảng.

In [7]:
# Check for datatype
df.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
            ...
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
Length: 14, dtype: object

Nếu muốn kiểm tra chi tiết hơn những thống kê mô tả của dataframe như trung bình(Mean), phương sai(Variance), min, max, độ lệch chuẩn (std),Median (50%) Giá trị trung vị - của một trường dữ liệu chúng ta dùng hàm df.describe()

In [8]:
# Thống kê mô tả dữ liệu
df.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000,506.00000
mean,3.61352,11.36364,11.13678,0.06917,0.55470,6.28463,68.57490,3.79504,9.54941,408.23715,18.45553,356.67403,12.65306,22.53281
std,8.60155,23.32245,6.86035,0.25399,0.11588,0.70262,28.14886,2.10571,8.70726,168.53712,2.16495,91.29486,7.14106,9.19710
min,0.00632,0.00000,0.46000,0.00000,0.38500,3.56100,2.90000,1.12960,1.00000,187.00000,12.60000,0.32000,1.73000,5.00000
25%,0.08204,0.00000,5.19000,0.00000,0.44900,5.88550,45.02500,2.10018,4.00000,279.00000,17.40000,375.37750,6.95000,17.02500
50%,0.25651,0.00000,9.69000,0.00000,0.53800,6.20850,77.50000,3.20745,5.00000,330.00000,19.05000,391.44000,11.36000,21.20000
75%,3.67708,12.50000,18.10000,0.00000,0.62400,6.62350,94.07500,5.18843,24.00000,666.00000,20.20000,396.22500,16.95500,25.00000
max,88.97620,100.00000,27.74000,1.00000,0.87100,8.78000,100.00000,12.12650,24.00000,711.00000,22.00000,396.90000,37.97000,50.00000

2.1.4. Export to CSV, EXCEL, TXT, JSON
Đây là câu lệnh được sử dụng khá phổ biến để lưu trữ các file dữ liệu từ dataframe sang những định dạng khác nhau. Những định dạng này sẽ cho phép chúng ta load lại dữ liệu bằng các hàm read_csv(), read_xlsx(), read_txt(), read_json() sau đó.

In [9]:
%%script echo skipping # giúp bỏ qua phần câu lệnh phía dưới

# Lưu dữ liệu sang file csv
df.to_csv('BostonHousing.csv', index = False)
# Lưu file excel
df.to_excel('BostonHousing.xls', index = False)
# Lưu dữ file json
df.to_json('BostonHousing.json') #do not include index = False, index only use for table orient

Couldn't find program: 'echo'

#2.2. Thao tác với dataframe
2.2.1. Truy cập dataframe

Truy cập theo slice index:sử dụng hàm df.iloc[rows_slice, columns_slice] hoặc hàm df.loc[]

In [11]:
# Lựa chọn 5 dòng đầu và 5 cột đầu của df
df.iloc[:5, :5]

      crim    zn  indus  chas    nox
0  0.00632  18.0   2.31     0  0.538
1  0.02731   0.0   7.07     0  0.469
2  0.02729   0.0   7.07     0  0.469
3  0.03237   0.0   2.18     0  0.458
4  0.06905   0.0   2.18     0  0.458

In [12]:
# Lựa chọn 5 dòng từ 5:10 và 2 cột từ 2:4
# tức là sẽ bắt đầu từ dòng 5 đến 8 và cột từ 2 đến 3
df.iloc[5:10, 2:4]

   indus  chas
5   2.18     0
6   7.87     0
7   7.87     0
8   7.87     0
9   7.87     0

In [13]:
# Lựa chọn 5 dòng cuối và các cột 1 và 3
df.iloc[-5:, [1, 3]]

      zn  chas
501  0.0     0
502  0.0     0
503  0.0     0
504  0.0     0
505  0.0     0

**Nếu muốn kèm thêm bước nhảy**

In [14]:
#dòng 1, dòng 3,dòng 5 tính từ dưới lên
df.iloc[-1:-6:-2, [1, 3]]

      zn  chas
505  0.0     0
503  0.0     0
501  0.0     0

**Ngoài ra ta có thể sử dụng df.loc[] để trích xuất dữ liệu
Sự khác nhau của nó khi nào thực hành tìm hiểu trên Chat GPT
**

Truy cập theo column names: sử dụng bằng cách điền tên cột

In [15]:
df[['crim', 'tax', 'rad']].head()

      crim  tax  rad
0  0.00632  296    1
1  0.02731  242    2
2  0.02729  242    2
3  0.03237  222    3
4  0.06905  222    3

***Kết hợp cả hai cách: Chúng ta có thể truy cập dataframe bằng cách kết hợp cả hai cách theo hướng sử dụng column names đối với cột và slice index đối với dòng***

In [ ]:
# Lấy ra các dòng từ 10:15 của các trường 'crim', 'tax', 'rad'
df[['crim', 'tax', 'rad']].iloc[10:15]

#2.2.2. Lọc dataframe
Chúng ta có thể lọc dataframe thông qua các điều kiện đối với các trường. Điều kiện của trường được thể hiện như một biểu thức logic và bao trong dấu []

In [ ]:
#ví dụ: Giả sử chúng ta muốn lọc ra các thị trấn mà có số phòng ở trung bình trên căn hộ
#là trên 4 thì truyền vào dấu [] điều kiện df['rm'] > 4.
df[df['rm'] > 4].head()

In [ ]:
#Nếu chúng ta muốn kết hợp nhiều điều kiện thì dùng biểu thức logic and hoặc or.
#Ví dụ: Muốn lọc thêm điều kiện thuế suất trên 250 ngoài điều kiện số phòng thì ta làm như sau
df[(df['rm']>4) & (df['tax']>250)].head()

Muốn lọc các cột theo định dạng dữ liệu thì như thế nào?
Ta dùng hàm df.select_dtypes() để lọc các cột theo định dạng dữ liệu. Những định dạng chính bao gồm integer, float, object, boolean.

In [16]:
#dùng hàm này để lấy dữ liệu các cột có dữ liệu là float
df.select_dtypes('float').head()

,crim,zn,indus,nox,rm,age,dis,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,18.7,396.90,5.33,36.2

Muốn lọc các cột hoặc dòng theo tên tìm kiếm.Tức là nó sẽ lọc dựa theo những cột hoặc dòng có tên giống với từ khóa

In [17]:
df2 = pd.DataFrame({
    'name':['a', 'b', 'c', 'd', 'e'],
    'age_1':[1, 2, 3, 4, 5],
    'age_2':[3, 5, 7, 9 , 10],
    'age_3':[2, 5, 2, 5, 6]
})

df2.head()
#ở ví dụ này ta có thể thấy có 4 cột. Trong đó có 3 cột có tên là age

  name  age_1  age_2  age_3
0    a      1      3      2
1    b      2      5      5
2    c      3      7      2
3    d      4      9      5
4    e      5     10      6

In [18]:
#Lựa chọn các cột bắt đầu là age thông qua hàm filter.
df2.filter(regex='^age', axis=1)
#Trong pandas thì axis=1 là làm việc với cột và axis=0 là làm việc với dòng.
#Giá trị của regex=^age có nghĩa là lọc các cột có chuỗi ký tự là age đứng đầu.

   age_1  age_2  age_3
0      1      3      2
1      2      5      5
2      3      7      2
3      4      9      5
4      5     10      6

2.2.3. Sort dữ liệu
Để sort dữ liệu chúng ta sử dụng hàm df.sort_values(.). Lựa chọn là ascending = True giúp sort theo thứ tự tăng dần, trường hợp False sẽ giảm dần.

In [21]:
#sort giá trị của 'dis'theo chiều giảm dần.
df.sort_values('dis', ascending = False).head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
353,0.01709,90.0,2.02,0,0.4100,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
352,0.07244,60.0,1.69,0,0.4110,5.884,18.5,10.7103,4,411,18.3,392.33,7.79,18.6
351,0.07950,60.0,1.69,0,0.4110,6.579,35.9,10.7103,4,411,18.3,370.78,5.49,24.1
355,0.10659,80.0,1.91,0,0.4130,5.936,19.5,10.5857,4,334,22.0,376.04,5.57,20.6
354,0.04301,80.0,1.91,0,0.4130,5.663,21.9,10.5857,4,334,22.0,382.80,8.05,18.2
64,0.01951,17.5,1.38,0,0.4161,7.104,59.5,9.2229,3,216,18.6,393.24,8.05,33.0
255,0.03548,80.0,3.64,0,0.3920,5.876,19.1,9.2203,1,315,16.4,395.18,9.25,20.9
254,0.04819,80.0,3.64,0,0.3920,6.108,32.0,9.2203,1,315,16.4,392.89,6.57,21.9
56,0.02055,85.0,0.74,0,0.4100,6.383,35.7,9.1876,2,313,17.3,396.90,5.77,24.7
286,0.01965,80.0,1.76,0,0.3850,6.230,31.5,9.0892,1,241,18.2,341.60,12.93,20.1

In [23]:
#sort giá trị của 'crim'theo chiều tăng dần.
df.sort_values('crim', ascending = True).head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
284,0.00906,90.0,2.97,0,0.400,7.088,20.8,7.3073,1,285,15.3,394.72,7.85,32.2
285,0.01096,55.0,2.25,0,0.389,6.453,31.9,7.3073,1,300,15.3,394.72,8.23,22.0
341,0.01301,35.0,1.52,0,0.442,7.241,49.3,7.0379,1,284,15.5,394.74,5.49,32.7
55,0.01311,90.0,1.22,0,0.403,7.249,21.9,8.6966,5,226,17.9,395.93,4.81,35.4
54,0.01360,75.0,4.00,0,0.410,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9
195,0.01381,80.0,0.46,0,0.422,7.875,32.0,5.6484,4,255,14.4,394.23,2.97,50.0
57,0.01432,100.0,1.32,0,0.411,6.816,40.5,8.3248,5,256,15.1,392.90,3.95,31.6
194,0.01439,60.0,2.93,0,0.401,6.604,18.8,6.2196,1,265,15.6,376.70,4.38,29.1
348,0.01501,80.0,2.01,0,0.435,6.635,29.7,8.3440,4,280,17.0,390.94,5.99,24.5

In [24]:
#Sort đồng thời nhiều đối tượng
df.sort_values(['medv', 'tax'], ascending = False).head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
368,4.89822,0.0,18.1,0,0.631,4.970,100.0,1.3325,24,666,20.2,375.52,3.26,50.0
369,5.66998,0.0,18.1,1,0.631,6.683,96.8,1.3567,24,666,20.2,375.33,3.73,50.0
370,6.53876,0.0,18.1,1,0.631,7.016,97.5,1.2024,24,666,20.2,392.05,2.96,50.0
371,9.23230,0.0,18.1,0,0.631,6.216,100.0,1.1691,24,666,20.2,366.15,9.53,50.0
372,8.26725,0.0,18.1,1,0.668,5.875,89.6,1.1296,24,666,20.2,347.88,8.88,50.0

#2.2.4. Các hàm đối với một trường

2.2.4.1. Min, max, mean, meadian, sum

In [ ]:
# min, max, mean, median, sum
print(df['tax'].min(), df['tax'].max(), df['tax'].mean(), df['tax'].median(), df['tax'].sum())

2.2.4.2. Hàm cut
Hàm cut giúp ta phân chia giá trị của một trường liên tục vào những khoảng theo ngưỡng cắt. Kết quả trả ra là nhãn của từng khoảng mà chúng ta khai báo.

In [27]:
bins = [-999999, 250, 400, 999999]
labels = ['low', 'normal', 'high']
# low: -999999 <- 250
# normal: 250 <- 400
# high: 400 <- 999999
df['tax_labels'] = pd.cut(df['tax'], bins=bins, labels=labels)
df[df['tax_labels']=='high'].head(10)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,tax_labels
54,0.01360,75.0,4.00,0,0.410,5.888,47.6,7.3197,3,469,21.1,396.90,14.80,18.9,high
111,0.10084,0.0,10.01,0,0.547,6.715,81.6,2.6775,6,432,17.8,395.59,10.16,22.8,high
112,0.12329,0.0,10.01,0,0.547,5.913,92.9,2.3534,6,432,17.8,394.95,16.21,18.8,high
113,0.22212,0.0,10.01,0,0.547,6.092,95.4,2.5480,6,432,17.8,396.90,17.09,18.7,high
114,0.14231,0.0,10.01,0,0.547,6.254,84.2,2.2565,6,432,17.8,388.74,10.45,18.5,high
115,0.17134,0.0,10.01,0,0.547,5.928,88.2,2.4631,6,432,17.8,344.91,15.76,18.3,high
116,0.13158,0.0,10.01,0,0.547,6.176,72.5,2.7301,6,432,17.8,393.30,12.04,21.2,high
117,0.15098,0.0,10.01,0,0.547,6.021,82.6,2.7474,6,432,17.8,394.51,10.30,19.2,high
118,0.13058,0.0,10.01,0,0.547,5.872,73.1,2.4775,6,432,17.8,338.63,15.37,20.4,high
119,0.14476,0.0,10.01,0,0.547,5.731,65.2,2.7592,6,432,17.8,391.50,13.61,19.3,high

2.2.4.3. Hàm qcut
cut(): Dùng để chia dữ liệu dựa trên các giá trị ngưỡng cụ thể (khoảng giá trị bạn chọn trước).
qcut(): Dùng để chia dữ liệu sao cho mỗi khoảng có số lượng giá trị gần bằng nhau (dựa trên phân vị).

In [25]:
import numpy as np
labels = ['low', 'normal', 'high']
tax_labels = pd.qcut(df['tax'], q=3, labels=labels)
np.unique(tax_labels, return_counts = True) #dùng để đếm số lượng 

# muốn chia theo tỉ lệ phần trăm
#ví dụ: mỗi khoảng chiếm 33% thì ta khai báo ngưỡng luỹ kế q = [0, 0.33, 0.66, 1]

(array(['high', 'low', 'normal'], dtype=object), array([168, 172, 166]))


2.2.4.4/ Hàm apply(): *cho phép bạn áp dụng một hàm cho một DataFrame hoặc Series theo các chiều khác nhau (theo hàng hoặc theo cột).*
DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwds)
Tham số chính
func: Hàm mà bạn muốn áp dụng lên DataFrame hoặc Series.
axis:
    + 0 hoặc 'index': Áp dụng hàm theo cột (tức là hàm sẽ được áp dụng cho từng cột).
    + 1 hoặc 'columns': Áp dụng hàm theo hàng (tức là hàm sẽ được áp dụng cho từng hàng).
raw: Nếu False, hàm sẽ nhận một Series cho mỗi cột (hoặc hàng); nếu True, hàm sẽ nhận một ndarray cho mỗi cột (hoặc hàng).
result_type:
    +'expand': Nếu kết quả là một DataFrame, hãy mở rộng nó thành nhiều cột.
    +'reduce': Trả về một Series nếu có thể.
    +'broadcast': Trả về một DataFrame với cùng chỉ số với DataFrame gốc.
args: Các đối số bổ sung được truyền đến hàm.
**kwds: Các đối số bổ sung khác được truyền đến hàm.

In [28]:
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
df = pd.DataFrame(data)

# Áp dụng hàm bình phương cho từng cột
squared_df = df.apply(lambda x: x ** 2)
print(squared_df)

   A   B
0  1  16
1  4  25
2  9  36

In [31]:
# Áp dụng hàm cho từng hàng bằng cách thay đổi tham số axis.
# Tính tổng của mỗi hàng
row_sum = df.apply(lambda x: x.sum(), axis=1)
print(row_sum)

0    5
1    7
2    9
dtype: int64

In [ ]:
#Sử dụng hàm có nhiều tham số
#Giả sử bạn muốn áp dụng một hàm tính tổng của hai cột với một tham số cố định
def custom_sum(row, const):
    return row['A'] + row['B'] + const

# Áp dụng hàm với một tham số cố định
result = df.apply(custom_sum, axis=1, const=10)
print(result)